* {
    padding:0;
    margin:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
  }
  
.welcome-msg {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#8fbbe2;
}

.welcome {
    font-size: 4.5rem;
}

.welcome-desc {
    font-size: 1.3rem;
    text-align: center;
    margin: 1rem 30%; 
}

.bottom-welcome-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    margin: 2rem 20%;
}

.desc-features {
    display: flex;
    flex-direction: row;
    max-width: 40rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    border: black solid 3px;
    background-color: #aac7e0;
}

.prod-desc-features {
    border-right: black solid 3px;
    padding-right: 28px;
    max-width: 300px;
}

.health-desc-features {
    padding-left: 28px;
    max-width: 300px;
}

.button {
    display: block;
    height: 2rem;
    padding: 1rem;
    width: 20rem;
    text-align: center;
    color: black;
    border: black solid 0.15rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #8fbbe2;
    margin-top: 2rem;
    letter-spacing: 2px;
    box-shadow: inset 0 0 0 0 white;
    transition: ease-out 0.4s;
}

.button:hover {
    box-shadow: inset 22rem 0 0 0 white;
}