* {
    box-sizing: border-box; 
  }
  
/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: linear-gradient(to bottom, #dbedf2, #cadee6, #bad0db, #aac1cf, #9cb3c4);
  }
  
  /* Header/logo Title */
  .header {
    background: url('../img/bg_home.svg') center center no-repeat;
    background-size: cover;  
  }

  .header-text{
    font-family: 'Arbutus';
    letter-spacing: 0.15em;
    text-align: center; 
    justify-content: center;
    color: white;
    background-color: rgba(0,0,0, 0.8);
    padding: 6rem;
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 80px;
  }

  .header p {
    font-size: 25px;
  }
  
  /* Style the top navigation bar */
  .navbar {
    overflow: hidden;
    background-color: #8b7a67;
  
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    font-family: 'Michroma';
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 13px 20px;
    text-decoration: none;
  }
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    padding: 20px;
  }
  
  /* Main column */
  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    padding: 20px;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }